@font-face {
    font-family: 'Sans';
    src: url(../asset/CalSans/CalSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../asset/Poppins/Poppins-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, p, a  {
    font-family: 'Sans'
}

.Sans {
    font-family: 'Sans';
}



@tailwind base;
@tailwind components;
@tailwind utilities;