@font-face {
    font-family: 'Sans';
    src: url(../asset/CalSans/CalSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../asset/Poppins/Poppins-Regular.ttf);
}

.Sans {
    font-family: 'Sans'!important;
}

.Poppins {
    font-family: 'Poppins'!important;
}



@tailwind base;
@tailwind components;
@tailwind utilities;